* {
    border: solid 1px red;
}

#content {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.icon {
    width: fit-content;
}

.header-container img {
    height: 200px;
}

.tagline {
    width: 500px;
}

.nav-container {
    display: flex;
}

.nav-container button {
    flex: auto;
}

.review {
    display: flex;
    flex-direction: row;
}

.reviews-container img {
    height: 250px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact-container,
.hours-container {
    text-align: center;
    white-space: pre-line;
}

.contact-container {
    display: flex;
}

.contact-container p {
    margin-top: auto;
    margin-bottom: auto;
}